@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500&display=swap");
*::selection {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.4);
}
body {
  font-family: "Hind", "Open Sans", sans-serif;
  height: 100vh;
  min-width: 400px;
  box-sizing: border-box;
  font-size: 30px;
  color: white;
  display: flex;
  margin: 0;
  box-shadow: inset 0 0 70px -1em black;
}
.column {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
}
.column:nth-child(3) {
  width: 34%;
  align-items: center;
  justify-content: center;
}
.column:nth-child(4) {
  align-items: flex-end;
}
.column_column {
  height: 50%;
  display: flex;
}
.column_column:last-child {
  align-items: flex-start;
}
.column_column:last-child {
  align-items: flex-end;
}
.js-clock {
  display: flex;
  align-items: center;
  font-size: 80px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 60px 300px 1em rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
}
.js-title {
  margin: 0;
  text-align: center;
}
.js-form input {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  font-size: 52px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.js-form input:focus {
  border-bottom-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 50px -1em black;
}
.js-form input::placeholder {
  color: white;
}
.js-greetings {
  font-size: 52px;
  font-weight: 500;
  margin: 0;
  width: 90vw;
  text-align: center;
}
.js-weather {
  margin-left: 5px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
}
.js-img-name {
  margin-left: 5px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
}
.toDo-box {
  overflow-y: auto;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toDo-box::-webkit-scrollbar {
  color: rgba(0, 0, 0, 0);
  width: 0;
}
.ja-toDoFrom input {
  font-size: 15px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
}
.ja-toDoFrom input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.toDo-bar {
  width: 100%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.appear-toDo-bar {
  animation: appearToDoBar 0.4s ease-in-out;
}
.disappear-toDo-bar {
  animation: disappearToDoBar 0.4s ease-in-out forwards;
  animation-delay: 0.25s;
}
@keyframes appearToDoBar {
  0% {
    opacity: 0;
    transform: scaleY(0) scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
    opacity: 1;
  }
}
@keyframes disappearToDoBar {
  0% {
    transform: scaleY(1) scaleX(1);
    opacity: 1;
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0) scaleX(0);
  }
}
.js-toDoList {
  padding: 0;
}
.toDoList--close {
  animation: closeList 0.3s ease-in-out forwards;
}
.toDoList--open {
  animation: openList 0.3s ease-in-out;
}
@keyframes closeList {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-20px);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    transform: translateY(-20px);
    visibility: hidden;
    opacity: 0;
    height: 0px;
  }
}
@keyframes openList {
  0% {
    transform: translateY(-20px);
    visibility: hidden;
    opacity: 0;
    height: 0px;
  }
  70% {
    transform: translateY(-20px);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.js-toDoList li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.js-toDoList li button {
  margin-right: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0);
}
.toDo-text {
  width: 160px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.9);
}
.toDo-text::-webkit-scrollbar {
  color: rgba(0, 0, 0, 0);
  height: 0;
}
.none {
  display: none;
}
.showing {
  display: block;
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
